html(lang=fr)
    head
        title=cfg.tilte
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css")
        link(rel="stylesheet", href="css/styles.css")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

    body.container
        div.jumbotron.text-center.digi-bg
            img(src=cfg.logo, height=100)
            h1.display-4=cfg.title
            h2
                each kw in cfg.keywords
                    span.badge.badge-dark.m-1='#'+kw
            hr.my-4
        each cursus in cfg.cursusList
            div.card
                div.card-body
                    h5.card-title=cursus.name
                    p.card-text
                        each t, index in cursus.trainings
                            div.card
                                div.card-body
                                    ul.list-unstyled
                                        li.media
                                            img.mr-3(src=t.image, width='10%')
                                            div.media-body

                                                h5.mt-0.mb-1='#' + (index+1) + ' ' + t.name
                                                ul
                                                    each g in t.goals || []
                                                        li=g
                                                a.btn.btn-primary.float-right(href=t.gitUrl) Consulter
            br
